body{
  background-color: white;
}

#avatar{
  background: url('https://avatars.githubusercontent.com/u/50219237?v=4');
}

#avatar:hover{
  bacground: url('https://c.tenor.com/ZgF7AEPZ4CwAAAAM/the-boys-real-heros-dont-do-drugs.gif');
}
